In [3]:
import pandas as pd

# Load data from 'data/train.csv'
data = pd.read_csv('data/train.csv')

# Display the first few rows of the dataset
data.head()

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,1,1017.4,21.2,20.6,19.9,19.4,87.0,88.0,1.1,60.0,17.2,1
1,1,2,1019.5,16.2,16.9,15.8,15.4,95.0,91.0,0.0,50.0,21.9,1
2,2,3,1024.1,19.4,16.1,14.6,9.3,75.0,47.0,8.3,70.0,18.1,1
3,3,4,1013.4,18.1,17.8,16.9,16.8,95.0,95.0,0.0,60.0,35.6,1
4,4,5,1021.8,21.3,18.4,15.2,9.6,52.0,45.0,3.6,40.0,24.8,0

In [4]:
# Display summary statistics for numerical columns
print("\nSummary Statistics:")
print(data.describe())

Summary Statistics:
                id          day     pressure      maxtemp  temparature  \
count  2190.000000  2190.000000  2190.000000  2190.000000  2190.000000
mean   1094.500000   179.948402  1013.602146    26.365799    23.953059
std     632.342866   105.203592     5.655366     5.654330     5.222410
min       0.000000     1.000000   999.000000    10.400000     7.400000
25%     547.250000    89.000000  1008.600000    21.300000    19.300000
50%    1094.500000   178.500000  1013.000000    27.800000    25.500000
75%    1641.750000   270.000000  1017.775000    31.200000    28.400000
max    2189.000000   365.000000  1034.600000    36.000000    31.500000

           mintemp     dewpoint     humidity        cloud     sunshine  \
count  2190.000000  2190.000000  2190.000000  2190.000000  2190.000000
mean     22.170091    20.454566    82.036530    75.721918     3.744429
std       5.059120     5.288406     7.800654    18.026498     3.626327
min       4.000000    -0.300000    39.000000     2.000000     0.000000
25%      17.700000    16.800000    77.000000    69.000000     0.400000
50%      23.850000    22.150000    82.000000    83.000000     2.400000
75%      26.400000    25.000000    88.000000    88.000000     6.800000
max      29.800000    26.700000    98.000000   100.000000    12.100000

       winddirection    windspeed     rainfall
count    2190.000000  2190.000000  2190.000000
mean      104.863151    21.804703     0.753425
std        80.002416     9.898659     0.431116
min        10.000000     4.400000     0.000000
25%        40.000000    14.125000     1.000000
50%        70.000000    20.500000     1.000000
75%       200.000000    27.900000     1.000000
max       300.000000    59.500000     1.000000

In [5]:
# Check for missing values
print("\nMissing Values:")
print(data.isnull().sum())

Missing Values:
id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

In [6]:

# Display the first few rows of the dataset
print("\nFirst Few Rows:")
print(data.head())

First Few Rows:
   id  day  pressure  maxtemp  temparature  mintemp  dewpoint  humidity  \
0   0    1    1017.4     21.2         20.6     19.9      19.4      87.0
1   1    2    1019.5     16.2         16.9     15.8      15.4      95.0
2   2    3    1024.1     19.4         16.1     14.6       9.3      75.0
3   3    4    1013.4     18.1         17.8     16.9      16.8      95.0
4   4    5    1021.8     21.3         18.4     15.2       9.6      52.0

   cloud  sunshine  winddirection  windspeed  rainfall
0   88.0       1.1           60.0       17.2         1
1   91.0       0.0           50.0       21.9         1
2   47.0       8.3           70.0       18.1         1
3   95.0       0.0           60.0       35.6         1
4   45.0       3.6           40.0       24.8         0

In [7]:
# Display the column names
print("\nColumn Names:")
print(data.columns.tolist())

Column Names:
['id', 'day', 'pressure', 'maxtemp', 'temparature', 'mintemp', 'dewpoint', 'humidity', 'cloud', 'sunshine', 'winddirection', 'windspeed', 'rainfall']

In [2]:
# Drop columns 'id' and 'day', and set 'rainfall' as the label column
X = data.drop(columns=['id', 'day', 'rainfall'])
y = data['rainfall']